body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  border: none;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 15vw 0px;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.main-header-links {
  color: #e5e7eb;
  margin: 16px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.hero {
  height: 62.5vh;
  background-color: #1f2937;
  display: flex;
  padding: 0px 15vw;
  justify-content: space-between;
  gap: 48px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  justify-content: center;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.hero-sub-text {
  color: #e5e7eb;
  font-size: 18px;
}

.signup-btn {
  margin-top: 15px;
}

.hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.img-placeholder-txt {
  height: 300px;
  background-color: gray;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-info-container {
  height: 62.5vh;
  padding: 0px 15vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.random-info-heading {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  margin-top: 4rem;
}

.random-info-image-container {
  display: flex;
  justify-content: space-evenly;
}

.random-info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 200px;
  gap: 8px;
}

.random-info-img {
  width: 175px;
  height: 175px;
  border: #3882f6;
  border-width: 5px;
  border-color: #3882f6;
  border-style: solid;
  border-radius: 16px;
}

.random-info-subtext {
  text-align: center;
  color: #7c7d7e;
}

.quote-container {
  background-color: #e5e7eb;
  height: 50vh;
  padding: 0px 22.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
}
